.home {
    padding: 2rem 2rem 1rem;
}

.title p {
    font-family: 'PixelTimesNewRoman', serif;
}

.name-intro {
    font-size: 3rem;
}

.name {
    font-size: 6rem;
    font-weight: 800;
}

.home-content-box {
    background-color: #FFFFDF;
    padding: 2rem;
    border: 0.15rem solid #F7F7F7;
    border-top-color: #828282;
    border-left-color: #828282;
}

.home-content-box p {
    font-size: 1.15rem;
    line-height: 1.5rem;
}

.links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3.5rem;
}

.home-icon img {
    height: 3.5rem;
    width: auto;
}

.non-laptop-note {
    display: none;
    font-weight: 800;
}

@media (max-width: 1000px) {
    .non-laptop-note {
        display: initial; 
    }
}

@media (max-width: 767px) {
    .home {
        padding: 1rem;
    }

    .home-content-box {
        padding: 1rem;
    }

    .links {
        margin-top: 1.5rem;
    }
}

@media (max-width: 600px) {
    .name-intro {
        font-size: 2.5rem;
        text-align: center;
    }

    .name {
        font-size: 4rem;
        text-align: center;
    }

    .home-content-box p { 
        font-size: 1rem;
    }

    .links {
        gap: 2rem;
    }

    .home-icon img {
        height: 3rem;
        width: auto;
    }
}