.nav-tab-item {
    font-size: 1.15rem;
    width: 200px;
    padding: 7px 10px;
    margin-right: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-tab-icon {
    height: 1.15rem;
}

.nav-active {
    font-weight: 800;
    background-color: #C3C3C3;
    background-image: url('../../img/selected-background.png');
    background-repeat: repeat;
    border: 0.15rem solid;
    border-color: #272727 #DBDBDB #DBDBDB #272727;
    box-shadow: inset 0.15rem 0.15rem 0 #828282;
}