.project-top {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.project-title img {
    height: 13rem;
}

.project-title p {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.project-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 60%;
}

.project-skills, .project-date {
    width: 100%;
}

.project-button {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    width: 50%;
}

.project-description ul {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 1rem;
}

.project-description li {
    line-height: 1.5rem;
}

@media (max-width: 767px) {
    .project-title p {
        font-size: 1.15rem;
    }

    .project-title img {
        height: 10rem;
    }
}

@media (max-width: 600px) {
    .project-title {
        width: 100%;
        gap: 0.5rem;
    }

    .project-top {
        flex-direction: column;
        align-items: center;
    }

    .project-information {
        flex-direction: column-reverse;
        width: 100%;
    }

    .project-button {
        font-size: 1rem;
        width: 50%;
    }
}