.window-container {
    padding: 5px;
}

.window-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 1000px) {
    .window-container {
        transform: translate(0, 0) !important;
        height: 79vh;
    }

    .window-content {
        height: 100%;
    }
}